.post {
    margin: 10px 0;
    border: 1px solid black;
    .author {
        float: left;
        img {
           width: 64px; 
        }
    }
    
    .text {
        float: left;
    }
    
    .actions {
        clear: both;
    }
}
