.post {
    margin: 10px 0;
    border: 1px solid black;
    
    .author {
        display: block;
        float: left;
    }
    
    .text {
        float: left;
    }
    
    .actions {
        clear: both;
        form {
            display: inline;
        }
    }
}

table.board-topics {
    
}